




<div class="container-app-login">
    <div class="container">
        <div class="login-section">
            <div class="text-header">
                <p class="t-large">Welcome back</p>
                <p class="t-small">Welcome back! Please enter your details.</p>
            </div>
            <div class="details">
                <div class="email">
                    <p>Email</p>
                    <input type="text" placeholder="Enter your email">
                </div>
                <div class="password">
                    <p>Password</p>
                    <input type="password" placeholder="Enter your Password">
                </div>
            </div>
            <button>Sign in</button>
        </div>
        
        <div class="logo-section">
            <div>
                <img src="../assets/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>